<div class="nav-icons">
  <!-- GitHub link -->
  <a class="nav-icon-container" href="https://github.com/EXXETA/trufos">
    <svg viewBox="0 0 24 24" class="icon" aria-label="GitHub"
         xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
         stroke-linecap="round"
         stroke-linejoin="round" overflow="hidden" cursor="pointer">
      <use xlink:href="#svg-github"></use>
    </svg>
  </a>

  <!-- button to toggle dark mode -->
  <div class="nav-icon-container">
    <svg id="toggle-theme-icon" viewBox="0 0 24 24" class="icon" aria-label="Toggle Dark Mode"
         role="button" tabindex="0"
         xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
         stroke-linecap="round"
         stroke-linejoin="round" overflow="hidden" cursor="pointer">
      <use xlink:href="#svg-sun"></use>
    </svg>
  </div>
</div>