/* Add the following to your global CSS file */

/* Colors */
.success {
  color: var(--success);
}

.error {
  color: var(--error);
}

.http-method-color-get {
  color: var(--http-get);
}

.http-method-color-put {
  color: var(--http-put);
}

.http-method-color-post {
  color: var(--http-post);
}

.http-method-color-delete {
  color: var(--http-delete);
}

.http-method-color-patch {
  color: var(--http-patch);
}

/* Tabs scrollbar styles */
.tabs-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.tabs-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.tabs-scrollbar::-webkit-scrollbar-thumb {
  background: var(--disabled); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.tabs-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.scrollbar > .slider {
  background: var(--disabled);
  border-radius: 4px;
}

.response-status {
}

body {
  font-family: "Lato", sans-serif;
  color: var(--text-primary);
  font-weight: 400;
}

.sidebar-request-list-item {
  color: var(--text-secondary);
  font-size: 12px;
}

.sidebar-request-list-item.selected {
  background-color: var(--disabled);
  color: var(--text-primary);
}

.sidebar-item.selected {
  background: hsl(var(--sidebar-primary));
  color: hsl(var(--sidebar-primary-foreground));
  font-weight: bold;
}
