/* Add the following to your global CSS file */

/* Colors */
.success {
  color: #2BB361;
}

.error {
  color: #CA464E;
}

.http-method-color-get {
  color: #97E87F;
}

.http-method-color-put {
  color: #6AC8E7;
}

.http-method-color-post {
  color: #8CA5FF;
}

.http-method-color-delete {
  color: #E36873;
}

.http-method-color-patch {
  color: #EBBA6B;
}

/* Tabs scrollbar styles */
.tabs-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.tabs-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.tabs-scrollbar::-webkit-scrollbar-thumb {
  background: #333333; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.tabs-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker color on hover */
}

.response-status {
}

body {
  font-family: "Lato", sans-serif;
  color: #EEEEEE;
  font-weight: 400;
}

.sidebar-request-list-item {
  color: #999999;
  font-size: 14px;
}

.sidebar-request-list-item.selected {
  background-color: #333333;
  color: #EEEEEE;
}