@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --danger: #FF5555;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    width: 100vw;
    height: 100vh;
  }

  .dark {
    /* Accent */
    --accent-primary: #75D9FB;
    --accent-secondary: #12B1E7;
    --accent-tertiary: #193641;

    /* Background */
    --background-primary: #111111;
    --background-secondary: #1F1F1F;
    --background-tertiary: transparent;

    /* Text */
    --text-primary: #EEEEEE;
    --text-secondary: #BBBBBB;

    /* Additional */
    --http-get: #93F176;
    --http-put: #37ABFF;
    --http-post: #9F72FE;
    --http-delete: #EE5C99;
    --http-patch: #EFA349;
    --disabled: #444444;

    /* State */
    --success: #2BB361;
    --error: #BD5151;
    --warning: #F9AA2D;

    /* Old */
    --background: 0 0% 6.67%;
    --foreground: 213 31% 91%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 100%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 0 0% 20%;
    --input: 216 34% 17%;

    --card: 0 0% 12%;
    --card-foreground: 213 31% 91%;

    --primary: 195 94% 72%;
    --primary-foreground: 0 0% 13%;

    --secondary: 196.5 44.44% 17.65%;
    --secondary-foreground: 195 94% 72%;

    --tertiary: 195.21 85.54% 48.82%;
    --tertiary-foreground: 0 0% 13%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --divider: 0 0% 20%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


::-webkit-scrollbar{
  display: none;
}