name: Validate Pull Request
run-name: Pull Request Validator

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  cpr:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    steps:
      - name: Validate the pull request
        uses: Namchee/conventional-pr@v0.15.6
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          branch_pattern: '(feature|feat|fix|chore|refactor)\/.*'
          title_pattern: ''
